# Environment Configuration
.env
source

# Dependency directory
node_modules
theme-extensions-build/node_modules/
theme-app-extension/node_modules/

# Illustrator director
node_modules
public/illustrator

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# next build output
.next/

node_modules.nosync
